# 1) Pandas DataFrame

- **DataFrame** - su to tabulky, kde udaje su usporiadane v riadkoch a stlpcoch
- kazdy riadok je reprezentovany indexom, ktory zacina 0
- kazdy stlpec obsahuje udaje rovnakeho typu

# 2) Create a pandas DataFrame

- pomocou **dictionary**
- pomocou **list**
- zo **suboru**
- **prazdny** dataframe

## 2.1) Create DataFrame using python dictionary

In [ ]:
import pandas as pd

# create a dictionary
data = {
    "Name": ["John", "Alice", "Bob"],
    "Age": [25, 30, 35],
    "City": ["New York", "London", "Paris"],
}

# create dataframe from dictionary
df = pd.DataFrame(data)

print(df)

    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   35     Paris

## 2.2) Create DataFrame using python list

- musi byt 2D list

In [ ]:
import pandas as pd

# create a two-dimensional list
data = [["John", 25, "New York"], ["Alice", 30, "London"], ["Bob", 35, "Paris"]]

# create a DataFrame from the list
df = pd.DataFrame(data, columns=["Name", "Age", "City"])
print(df)

    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   35     Paris

## 2.3) Create DataFrame from file

- mozem vytvorit z:
    - .csv - read_csv()
    - .json - read_json()
    - excel - read_excel()
    - SQL - read_sql()

In [ ]:
import pandas as pd

# load data from a CSV file
df = pd.read_csv('data.csv')i

## 2.4) Create empty DataFrame

In [4]:
import pandas as pd

# create an empty DataFrame
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []