# 1) Pandas DataFrame manipulation

- adding rows/columns
- removing rows/columns
- renaming rows/columns

## 1.1) Adding new rows/columns

### Add a new column to dataframe

- jednoducho vytvorime novy list ako stlpec

In [ ]:
import pandas as pd

# define a dictionary containing student data
data = {
    "Name": ["John", "Emma", "Michael", "Sophia"],
    "Height": [5.5, 6.0, 5.8, 5.3],
    "Qualification": ["BSc", "BBA", "MBA", "BSc"],
}

# convert the dictionary into a DataFrame
df = pd.DataFrame(data)

# declare a new list
address = ["New York", "London", "Sydney", "Toronto"]

# assign the list as a column
df["Address"] = address

print(df)

      Name  Height Qualification   Address
0     John     5.5           BSc  New York
1     Emma     6.0           BBA    London
2  Michael     5.8           MBA    Sydney
3   Sophia     5.3           BSc   Toronto

### Add a new row to dataframe

- **.loc** property

In [ ]:
import pandas as pd

# define a dictionary containing student data
data = {
    "Name": ["John", "Emma", "Michael", "Sophia"],
    "Height": [5.5, 6.0, 5.8, 5.3],
    "Qualification": ["BSc", "BBA", "MBA", "BSc"],
}

# convert the dictionary into a DataFrame
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
print()

# add a new row
df.loc[len(df.index)] = ["Amy", 5.2, "BIT"]

print("Modified DataFrame:")
print(df)

Original DataFrame:
      Name  Height Qualification
0     John     5.5           BSc
1     Emma     6.0           BBA
2  Michael     5.8           MBA
3   Sophia     5.3           BSc

Modified DataFrame:
      Name  Height Qualification
0     John     5.5           BSc
1     Emma     6.0           BBA
2  Michael     5.8           MBA
3   Sophia     5.3           BSc
4      Amy     5.2           BIT

## 1.2) Removing rows/columns

- **drop()**

### Delete rows

In [ ]:
import pandas as pd

# create a sample DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Felipe", "Rita"],
    "Age": [25, 30, 35, 40, 22, 29],
    "City": ["New York", "London", "Paris", "Tokyo", "Bogota", "Banglore"],
}
df = pd.DataFrame(data)

# display the original DataFrame
print("Original DataFrame:")
print(df)
print()

# delete row with index 4
df.drop(4, axis=0, inplace=True)  # axis=0 - indikuje, ze sa maju vymazat riadky

# delete row with index 5
df.drop(
    index=5, inplace=True
)  # inplace - zmena sa vykona na povodnom datframe bez nutnosti vytvarania noveho

# delete rows with index 1 and 3
df.drop([1, 3], axis=0, inplace=True)

# display the modified DataFrame after deleting rows
print("Modified DataFrame:")
print(df)

Original DataFrame:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris
3    David   40     Tokyo
4   Felipe   22    Bogota
5     Rita   29  Banglore

Modified DataFrame:
      Name  Age      City
0    Alice   25  New York
2  Charlie   35     Paris

### Delete columns

In [ ]:
import pandas as pd

# create a sample DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 40],
    "City": ["New York", "London", "Paris", "Tokyo"],
    "Height": ["165", "178", "185", "171"],
    "Profession": ["Engineer", "Entrepreneur", "Unemployed", "Actor"],
    "Marital Status": ["Single", "Married", "Divorced", "Engaged"],
}
df = pd.DataFrame(data)

# display the original DataFrame
print("Original DataFrame:")
print(df)
print()

# delete age column
df.drop("Age", axis=1, inplace=True)  # axis=1 - indikuje, ze sa maju vymazat stlpce

# delete marital status column
df.drop(columns="Marital Status", inplace=True)

# delete height and profession columns
df.drop(["Height", "Profession"], axis=1, inplace=True)

# display the modified DataFrame after deleting rows
print("Modified DataFrame:")
print(df)

Original DataFrame:
      Name  Age      City Height    Profession Marital Status
0    Alice   25  New York    165      Engineer         Single
1      Bob   30    London    178  Entrepreneur        Married
2  Charlie   35     Paris    185    Unemployed       Divorced
3    David   40     Tokyo    171         Actor        Engaged

Modified DataFrame:
      Name      City
0    Alice  New York
1      Bob    London
2  Charlie     Paris
3    David     Tokyo

## 1.3) Renaming rows/columns

- **rename()**

### Rename Columns

In [ ]:
import pandas as pd

# create a sample DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 40],
    "City": ["New York", "London", "Paris", "Tokyo"],
}
df = pd.DataFrame(data)

# display the original DataFrame
print("Original DataFrame:")
print(df)
print()

# rename column 'Name' to 'First_Name'
df.rename(columns={"Name": "First_Name"}, inplace=True)

# rename columns 'Age' and 'City'
df.rename(mapper={"Age": "Number", "City": "Address"}, axis=1, inplace=True)

# display the DataFrame after renaming column
print("Modified DataFrame:")
print(df)

Original DataFrame:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris
3    David   40     Tokyo

Modified DataFrame:
  First_Name  Number   Address
0      Alice      25  New York
1        Bob      30    London
2    Charlie      35     Paris
3      David      40     Tokyo

### Rename rows

In [ ]:
import pandas as pd

# create a sample DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 40],
    "City": ["New York", "London", "Paris", "Tokyo"],
}
df = pd.DataFrame(data)

# display the original DataFrame
print("Original DataFrame:")
print(df)
print()

# rename column one index label
df.rename(index={0: 7}, inplace=True)

# rename columns multiple index labels
df.rename(mapper={1: 10, 2: 100}, axis=0, inplace=True)

# display the DataFrame after renaming column
print("Modified DataFrame:")
print(df)

Original DataFrame:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris
3    David   40     Tokyo

Modified DataFrame:
        Name  Age      City
7      Alice   25  New York
10       Bob   30    London
100  Charlie   35     Paris
3      David   40     Tokyo