# 1) Sets

- characteristics:
    - **unordered** - nezachovavaju poradie prvkov
    - **unchangeable** - prvky nemozem zmenit, ale mozem ich odstranit a pridat
    - **not allow duplicates** - nemozu byt duplicitne prvky  
    - **no indexing** - nemaju indexovanie, pretoze su unordered/neusporiadane

## 1.1) Create Set

- using **curly braces {}**
- using **set()** function - to make an **empty** set
- set items can be of different types (strings, numbers)
- Important!: set **can not** have mutable elements (list, tuple, set, dictionary) as its items

In [3]:
# create set using {}
names = {"Jack", "Peter", "Joshua"}
print(names)  # output is in different order because set is "unordered"

# create empty set using set()
empty_set = set()
print("Empty set():", empty_set, "and type is:", type(empty_set))

{'Jack', 'Joshua', 'Peter'}
Empty set(): set() and type is: <class 'set'>

## 1.2) Duplicate items **NOT ALLOWED**

In [4]:
numbers = {1, 2, 2, 3, 4, 4, 5}
print(numbers)

{1, 2, 3, 4, 5}

## 1.3) Add items to set

- **add()** method - add item to set
- **update()** method - add items to set from other collection/iterable types (list, tuple, sets, dictionary, strings)

In [2]:
numbers = {1, 34, 54, 12}
print("Original set:", numbers)

# add()
numbers.add("21")
print("Add():", numbers)

# update()
companies = {"lacoste", "boss"}
tech_companies = ["apple", "hp", "intel", "apple"]

companies.update(tech_companies)
print(
    "Update() list", companies
)  # apple is only once because sets do not allow duplicates

string = "bmw"
companies.update(string)
print("Update() string", companies)  # bmw rozhodi na pismena

Original set: {1, 34, 12, 54}
Add(): {1, 34, '21', 12, 54}
Update() list {'lacoste', 'boss', 'apple', 'intel', 'hp'}
Update() string {'lacoste', 'w', 'm', 'boss', 'apple', 'intel', 'b', 'hp'}

## 1.4) Remove set item

- **discard()** method - remove specified item

In [3]:
tech_companies = {"apple", "hp", "intel", "apple"}

# discard()
tech_companies.discard("hp")
print("Discard()", tech_companies)

Discard() {'intel', 'apple'}

## 1.5) Set length

- **len()** build-in function - use to find number of items in a set

In [4]:
fruits = {"apple", "banana", "orange"}

print(fruits)
print("The number of items in set is:", len(fruits))

{'banana', 'orange', 'apple'}
The number of items in set is: 3

## 1.6) Set operations

- **union (| or union() method)** - zjednotenie, obsahuje vsetky prvky
- **intersection (& or intersection() method)** - prienik, obsahuje len spolocne prvky
- **difference (- or difference method)** - rozdiel, obsahuje len prvky, ktore nie su spolocne a neobsahuje ich druhy set
- **symetric difference (^ or symmetric_difference() method)** - symetricky rozdiel, obsahuje prvky, ktore nie su spolocne

In [9]:
# first set
A = {2, 3, 5}

# second set
B = {1, 2, 6}

# union
print("Union |", A | B)
print("Union union()", A.union(B))

# intersection
print("Intersection &", A & B)
print("Intersection intersection()", A.intersection(B))

# difference
print("Difference -", A - B)
print("Difference difference()", A.difference(B))

# symmetric difference
print("Symmetric difference ^", A ^ B)
print("Symmetric difference symmetric_difference()", A.symmetric_difference(B))

Union | {1, 2, 3, 5, 6}
Union union() {1, 2, 3, 5, 6}
Intersection & {2}
Intersection intersection() {2}
Difference - {3, 5}
Difference difference() {3, 5}
Symmetric difference ^ {1, 3, 5, 6}
Symmetric difference symmetric_difference() {1, 3, 5, 6}

## 1.7) Check if sets are equal

- using **==** operator

In [10]:
# first set
A = {1, 3, 5}

# second set
B = {3, 5, 1}

equality = "Are equal" if A == B else "Not equal"
print(equality)

Are equal